.relative {
    position: relative;
}

.nomargin {
    margin: 0 !important;
}

.nopadding {
    padding: 0 !important;
}

.align-center {
    text-align: center !important;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

.clear {
    clear: both;
}

.noborder {
    border: none !important;
}

.transparent-bg {
    background: transparent;
}

.cursor {
    cursor: pointer !important;
}

.noshow {
    display: none
}

.noradius {
    border-radius: 0;
}

.margin-top-1 {
    margin-top: 1px;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-30 {
    margin: 30px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-top-0 {
    margin-top: 0px;
}

.padding-30 {
    padding: 30px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-70 {
    padding-top: 70px;
}

.margin-30 {
    margin: 30px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-right-30 {
    margin-right: 30px;
}

.padding-50 {
    padding: 50px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-left-50 {
    padding-left: 50px;
}

.padding-right-50 {
    padding-right: 50px;
}

.margin-50 {
    margin: 50px;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-70 {
    margin: 70px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-bottom-70 {
    margin-bottom: 70px;
}

.margin-left-70 {
    margin-left: 70px;
}

.margin-right-70 {
    margin-right: 70px;
}

.margin-top-80 {
    margin-top: 80px !important;
}

.margin-top-100 {
    margin-top: 100px !important;
}

.margin-bottom-100 {
    margin-bottom: 100px !important;
}

.margin-top-120 {
    margin-top: 120px !important;
}

.margin-top-150 {
    margin-top: 150px !important;
}

.margin-top-200 {
    margin-top: 200px !important;
}

.padding-1 {
    padding: 1px !important;
}

.padding-2 {
    padding: 2px !important;
}

.padding-10 {
    padding: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-0 {
    padding-right: 0px
}

.padding-left-0 {
    padding-left: 0px
}

.padding-top-0 {
    padding-top: 0px
}

;

.border-top {
    border-top: 1px solid #ddd;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.border-left {
    border-left: 1px solid #ddd;
}

.border-right {
    border-right: 1px solid #ddd;
}

.border-all {
    border: 1px solid #ddd;
}

.font-large {
    font-size: large;
}

.uppercase {
    text-transform: uppercase;
}

.display-block {
    display: block;
}

.capitalize {
    text-transform: capitalize;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.underline {
    text-decoration: underline;
}

.full-height {
    height: 100%;
    position: relative;
}

.full-width {
    width: 100%;
    position: relative;
}

.bg-white {
    background: white;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

textarea {
    resize: none;
}