* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

html,
body {
    margin: auto;
    display: block;
    overflow-x: hidden;
}

#namahalaman #section1 {
    color: red
}

#namahalaman #section1 .test {
    color: green;
}

#namahalaman #section2 {
    color: blue
}